.posts-container {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .posts-content {
    display: flex;
    margin-top: 45vh;
    padding-bottom: 10px;
    .cat-articles {
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      p {
        color: white;
        font-size: 1.125rem;
        font-size: clamp(1rem, 2.5vw, 1.8rem);
        text-align: center;
        width: 50vw;
        text-wrap: balance;
      }
    }
    .posts-items {
      display: flex;
      gap: 20px;
    }
    .post-item {
      width: 250px;
      aspect-ratio: 9 / 12;
      background-color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        text-align: center;
        color: #0c0c0e;
        font-size: 20px;
      }
      p {
        color: #0c0c0e;
        margin-top: 20px;
        overflow: hidden;
      }
      .post-footer {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        .post-theme {
        }
        .post-date {
          text-align: end;
        }
      }
    }
    .post-image {
      height: 40vh;
      object-fit: cover;
      object-position: 100% center;
    }
  }
  @media (max-width: 600px) {
    .posts-content {
      .posts-items {
        gap: 10px;
        .post-item {
          width: 200px;
          height: 300px;
          font-size: 14px;
          text-wrap: balance;
        }
      }
      .cat-articles {
        padding: 0 10px;
      }
    }
  }
  @media (max-width: 520px) {
    .posts-content {
      .posts-items {
        .post-item {
          width: 160px;
          height: 240px;
        }
      }
    }
  }
  @media (max-width: 350px) {
    .posts-content {
        margin-top: 35vh;
      .cat-articles {
        width: 40vw;
      }
    }
  }
}
