.posts-container {
  overflow-x: auto;
}
.posts-container::-webkit-scrollbar {
  height: 8px;
}
.posts-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.posts-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.posts-container .posts-content {
  display: flex;
  margin-top: 45vh;
  padding-bottom: 10px;
}
.posts-container .posts-content .cat-articles {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.posts-container .posts-content .cat-articles p {
  color: white;
  font-size: 1.125rem;
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  text-align: center;
  width: 50vw;
  text-wrap: balance;
}
.posts-container .posts-content .posts-items {
  display: flex;
  gap: 20px;
}
.posts-container .posts-content .post-item {
  width: 250px;
  aspect-ratio: 9 / 12;
  background-color: white;
  border: 2px solid #2862E9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts-container .posts-content .post-item h2 {
  text-align: center;
  color: #0c0c0e;
}
.posts-container .posts-content .post-item p {
  color: #0c0c0e;
  margin-top: 20px;
  overflow: hidden;
}
.posts-container .posts-content .post-item .post-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.posts-container .posts-content .post-item .post-footer .post-theme {
  color: #2862E9;
}
.posts-container .posts-content .post-item .post-footer .post-date {
  text-align: end;
}
.posts-container .posts-content .post-image {
  height: 40vh;
  object-fit: cover;
  object-position: 100% center;
}
@media (max-width: 600px) {
  .posts-container .posts-content .posts-items {
    gap: 10px;
  }
  .posts-container .posts-content .posts-items .post-item {
    width: 200px;
    height: 300px;
    font-size: 14px;
    text-wrap: balance;
  }
  .posts-container .posts-content .cat-articles {
    padding: 0 10px;
  }
}
@media (max-width: 520px) {
  .posts-container .posts-content .posts-items .post-item {
    width: 160px;
    height: 240px;
  }
}
@media (max-width: 350px) {
  .posts-container .posts-content {
    margin-top: 35vh;
  }
  .posts-container .posts-content .cat-articles {
    width: 40vw;
  }
}
