.article {
  width: 900px;
  margin: 20vh auto 30px;
  border-left: 2px solid #555;
  padding-left: 20px;
}
.article .article-title {
  margin-bottom: 50px;
}
.article .article-paragraph {
  margin-top: 20px;
  font-size: 18px;
}
.article-footer {
  text-align: end;
  font-weight: 700;
  font-style: italic;
  width: 900px;
  height: 100px;
  margin: 0 auto 100px;
}
