.articles {
  width: 900px;
  border-left: 2px solid #555;
  padding-left: 20px;
  margin: 50px auto 0;
  cursor: pointer;
}
.articles .article-items .article-text {
  margin-top: 10px;
}
.articles .article-items .article-footer {
  margin-top: 10px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 23px 3px 0;
}
.margin-top-20vh {
  margin-top: 20vh;
}
