@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
header {
  font-size: 24px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 40px;
  margin: 5vh 15px 0 0;
}
nav ul li {
  cursor: pointer;
}
@media (max-width: 600px) {
  header {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
}
.posts-container {
  overflow-x: auto;
}
.posts-container::-webkit-scrollbar {
  height: 8px;
}
.posts-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.posts-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.posts-container .posts-content {
  display: flex;
  margin-top: 45vh;
  padding-bottom: 10px;
}
.posts-container .posts-content .cat-articles {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.posts-container .posts-content .cat-articles p {
  color: white;
  font-size: 1.125rem;
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  text-align: center;
  width: 50vw;
  text-wrap: balance;
}
.posts-container .posts-content .posts-items {
  display: flex;
  gap: 20px;
}
.posts-container .posts-content .post-item {
  width: 250px;
  aspect-ratio: 9 / 12;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts-container .posts-content .post-item h2 {
  text-align: center;
  color: #0c0c0e;
  font-size: 20px;
}
.posts-container .posts-content .post-item p {
  color: #0c0c0e;
  margin-top: 20px;
  overflow: hidden;
}
.posts-container .posts-content .post-item .post-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.posts-container .posts-content .post-item .post-footer .post-date {
  text-align: end;
}
.posts-container .posts-content .post-image {
  height: 40vh;
  object-fit: cover;
  object-position: 100% center;
}
@media (max-width: 600px) {
  .posts-container .posts-content .posts-items {
    gap: 10px;
  }
  .posts-container .posts-content .posts-items .post-item {
    width: 200px;
    height: 300px;
    font-size: 14px;
    text-wrap: balance;
  }
  .posts-container .posts-content .cat-articles {
    padding: 0 10px;
  }
}
@media (max-width: 520px) {
  .posts-container .posts-content .posts-items .post-item {
    width: 160px;
    height: 240px;
  }
}
@media (max-width: 350px) {
  .posts-container .posts-content {
    margin-top: 35vh;
  }
  .posts-container .posts-content .cat-articles {
    width: 40vw;
  }
}
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#portfolio .portfolio-content {
  width: 400px;
}
#portfolio .portfolio-content p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: balance;
}
@media (max-width: 450px) {
  #portfolio .portfolio-content {
    width: 300px;
  }
}
.about-container {
  margin-top: 20vh;
  height: 250px;
  position: relative;
}
.about-container .bg-about {
  font-size: 140px;
  font-weight: 700;
  font-style: italic;
  line-height: 0.8;
  color: #222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100vw;
  position: absolute;
  z-index: 1;
  text-align: center;
}
.about-container .about-content {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 100vw;
  text-align: center;
}
.about-container .about-content .about-text {
  font-size: 18px;
}
@media (max-width: 980px) {
  .about-container .about-content {
    top: 64%;
  }
  .about-container .about-content .about-text {
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .about-container .bg-about {
    font-size: 106px;
  }
}
@media (max-width: 550px) {
  .about-container .bg-about {
    font-size: 80px;
  }
  .about-container .about-content {
    top: 61%;
  }
  .about-container .about-content .about-text {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .about-container .bg-about {
    font-size: 60px;
  }
  .about-container .about-content {
    top: 58%;
  }
  .about-container .about-content .about-text {
    font-size: 16px;
  }
}
.knowledge {
  width: 900px;
  margin: 20vh auto;
  border-left: 2px solid #555;
  padding-left: 20px;
}
.knowledge .knowledge-title {
  text-align: center;
  margin-bottom: 40px;
}
.knowledge .knowledge-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.knowledge .knowledge-items .knowledge-column .column-name {
  text-align: center;
}
.knowledge .knowledge-items .knowledge-item {
  margin-bottom: 30px;
}
.knowledge .knowledge-items .knowledge-item img {
  width: 96px;
  height: 96px;
}
.knowledge .knowledge-items .knowledge-item .item-name {
  text-align: center;
}
.knowledge .knowledge-items .knowledge-item .knowledge-margin-b {
  margin-bottom: 96px;
}
@media (max-width: 1080px) {
  .knowledge {
    width: 780px;
    margin: 20vh auto 0 20px;
  }
  .knowledge .knowledge-items .knowledge-item img {
    width: 70px;
    height: 70px;
  }
  .knowledge .knowledge-items .knowledge-item .knowledge-margin-b {
    margin-bottom: 70px;
  }
}
@media (max-width: 900px) {
  .knowledge {
    width: 640px;
  }
}
@media (max-width: 750px) {
  .knowledge {
    width: 540px;
  }
}
@media (max-width: 640px) {
  .knowledge {
    width: 440px;
  }
  .knowledge .knowledge-items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .knowledge .knowledge-items .knowledge-column .column-name {
    text-align: center;
  }
  .knowledge .knowledge-items .knowledge-item {
    margin-bottom: 30px;
  }
  .knowledge .knowledge-items .knowledge-item img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 530px) {
  .knowledge {
    width: 350px;
  }
  .knowledge .knowledge-title {
    text-align: left;
  }
}
@media (max-width: 440px) {
  .knowledge {
    width: 320px;
    border-left: none;
    padding-left: 0;
  }
  .knowledge .knowledge-items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .knowledge .knowledge-items .knowledge-column .column-name {
    text-align: center;
    font-size: 16px;
  }
  .knowledge .knowledge-items .knowledge-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .knowledge .knowledge-items .knowledge-item img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  .knowledge .knowledge-items .knowledge-item .knowledge-margin-b {
    margin-bottom: 80px;
  }
}
@media (max-width: 410px) {
  .knowledge {
    width: 290px;
  }
}
@media (max-width: 370px) {
  .knowledge {
    width: 260px;
  }
  .knowledge .knowledge-title {
    font-size: 22px;
  }
}
@media (max-width: 340px) {
  .knowledge {
    width: 240px;
  }
}
.family {
  width: 900px;
  margin: 20vh auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.family .family-text {
  max-width: 60%;
}
.family .family-text h2,
.family .family-text p {
  margin-bottom: 40px;
}
.family .family-images {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.family .family-images .family-image {
  margin: 10px 0 0 auto;
  width: 300px;
  border: 2px solid #555;
  padding: 0 10px 10px 0;
}
.family .family-images .family-image img {
  width: 100%;
  display: block;
  margin: -10px 0 0 -5px;
}
@media (max-width: 1080px) {
  .family {
    width: 780px;
    margin: 20vh auto 0 20px;
  }
}
@media (max-width: 900px) {
  .family {
    width: 538px;
  }
  .family .family-images .family-image {
    margin: 10px 0 0 20px;
  }
}
@media (max-width: 750px) {
  .family {
    width: 540px;
    flex-direction: column;
  }
  .family .family-text {
    max-width: 100%;
  }
  .family .family-images {
    width: 520px;
  }
  .family .family-images .family-image {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .family {
    width: 420px;
  }
  .family .family-images {
    width: 400px;
  }
}
@media (max-width: 530px) {
  .family {
    width: 350px;
  }
  .family .family-images {
    width: 330px;
  }
}
@media (max-width: 440px) {
  .family {
    width: 320px;
  }
  .family .family-images {
    width: 300px;
  }
}
@media (max-width: 410px) {
  .family {
    width: 290px;
  }
  .family .family-images {
    width: 270px;
  }
}
@media (max-width: 370px) {
  .family {
    width: 260px;
  }
  .family .family-images {
    width: 240px;
  }
}
@media (max-width: 340px) {
  .family {
    width: 240px;
  }
  .family .family-images {
    width: 220px;
  }
}
.social-medias {
  position: fixed;
  right: 4vw;
  bottom: 0;
}
.social-medias .social-medias-icons {
  display: flex;
  flex-direction: column;
}
.social-medias .social-medias-icons a img {
  width: 50px;
}
.social-medias .social-medias-line {
  height: 10vh;
  border-left: 2px solid #555;
  margin-left: 24px;
}
@media (max-width: 440px) {
  .social-medias .social-medias-icons a img {
    width: 40px;
  }
  .social-medias .social-medias-line {
    height: 10vh;
    border-left: 2px solid #555;
    margin-left: 19px;
  }
}
.articles {
  width: 900px;
  border-left: 2px solid #555;
  padding-left: 20px;
  margin: 50px auto 0;
  cursor: pointer;
}
.articles .article-items .article-text {
  margin-top: 10px;
}
.articles .article-items .article-footer {
  margin-top: 10px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 23px 3px 0;
}
.margin-top-20vh {
  margin-top: 20vh;
}
.article {
  width: 900px;
  margin: 20vh auto 30px;
  border-left: 2px solid #555;
  padding-left: 20px;
}
.article .article-title {
  margin-bottom: 50px;
}
.article .article-paragraph {
  margin-top: 20px;
  font-size: 18px;
}
.article .article-emphasis {
  color: #ddd;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-top: 40px;
  font-style: italic;
}
.article-footer {
  text-align: end;
  font-weight: 700;
  font-style: italic;
  width: 900px;
  height: 100px;
  margin: 0 auto 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
body::-webkit-scrollbar {
  width: 0px;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.scratch {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.scale08 {
  transform: scale(0.8);
}
.underlined,
.underlined-mobile,
.underlined-articles {
  position: relative;
  text-decoration: none;
}
.underlined:focus:after,
.underlined:hover:after {
  background-color: white;
  transform: scaleX(1);
}
.underlined-mobile:focus:after,
.underlined-mobile:hover:after {
  background-color: #2bbca7;
  transform: scaleX(1);
}
.underlined-articles:focus:after,
.underlined-articles:hover:after {
  background-color: #555;
  transform: scaleX(1);
}
.underlined:after,
.underlined-mobile:after,
.underlined-articles:after {
  bottom: -3px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
  width: 100%;
}
.css-border {
  border: 2px solid #2862E9;
}
.learning-border {
  border: 2px solid #FFD700;
}
#css-color {
  color: #2862E9;
}
#learning-color {
  color: #FFD700;
}
