@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');


@import url('../components/header/styles.less');
@import url('../components/posts/styles.less');
@import url('../pages/portfolio/styles.less');
@import url('../components/aboutme/styles.less');
@import url('../components/knowledge/styles.less');
@import url('../components/family/styles.less');
@import url('../components/socialmedias/styles.less');
@import url('../pages/all-posts/styles.less');
@import url('../components/article/styles.less'); 
@import url('../pages/posts/styles.less'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  
  &::-webkit-scrollbar {
    width: 0px;
  }
}
//COLORS
@css: #2862E9;
@learning: #FFD700;
.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.scratch{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.scale08{
  transform: scale(0.8);
}

.underlined, .underlined-mobile, .underlined-articles {
  position: relative;
  text-decoration: none;
}
.underlined:focus:after,
.underlined:hover:after {
  background-color: white;
  transform: scaleX(1);
}
.underlined-mobile:focus:after,
.underlined-mobile:hover:after {
  background-color: #2bbca7;
  transform: scaleX(1);
}
.underlined-articles:focus:after,
.underlined-articles:hover:after {
  background-color: #555;
  transform: scaleX(1);
}
.underlined:after, .underlined-mobile:after, .underlined-articles:after {
  bottom: -3px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
  width: 100%;
}

.css-border{
  border: 2px solid @css;
}
.learning-border{
  border: 2px solid @learning;
}
#css-color{
  color: @css;
}
#learning-color{
  color: @learning;
}

