@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
header {
  font-size: 24px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 40px;
  margin: 5vh 15px 0 0;
}
nav ul li {
  cursor: pointer;
}
.underlined,
.underlined-mobile {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.underlined:focus:after,
.underlined:hover:after {
  background-color: white;
  transform: scaleX(1);
}
.underlined-mobile:focus:after,
.underlined-mobile:hover:after {
  background-color: #2bbca7;
  transform: scaleX(1);
}
.underlined:after,
.underlined-mobile:after {
  bottom: -3px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
  width: 100%;
}
@media (max-width: 600px) {
  header {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
}
.posts-container {
  overflow-x: auto;
}
.posts-container::-webkit-scrollbar {
  height: 8px;
}
.posts-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.posts-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.posts-container .posts-content {
  display: flex;
  margin-top: 45vh;
  padding-bottom: 10px;
}
.posts-container .posts-content .cat-articles {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.posts-container .posts-content .cat-articles p {
  color: white;
  font-size: 1.125rem;
  font-size: clamp(1.2rem, 4.5vw, 3rem);
  text-align: center;
  width: 50vw;
  text-wrap: balance;
}
.posts-container .posts-content .posts-items {
  display: flex;
  gap: 20px;
}
.posts-container .posts-content .post-item {
  width: 13.5vw;
  background-color: white;
  border: 2px solid darkgoldenrod;
  padding: 30px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts-container .posts-content .post-item h2 {
  text-align: center;
  color: #0c0c0e;
}
.posts-container .posts-content .post-item p {
  color: #0c0c0e;
  margin-top: 20px;
}
.posts-container .posts-content .post-image {
  height: 40vh;
  object-fit: cover;
  object-position: 100% center;
}
@media (max-width: 600px) {
  .posts-container .posts-content {
    margin-top: 55vh;
  }
  .posts-container .posts-content .post-image {
    height: 30vh;
  }
}
@media (max-width: 390px) {
  .posts-container .posts-content {
    margin-top: 60vh;
  }
  .posts-container .posts-content .post-image {
    height: 24vh;
  }
}
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#portfolio .portfolio-content {
  width: 40vw;
}
#portfolio .portfolio-content p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: balance;
}
.about-container {
  margin-top: 20vh;
  height: 250px;
  position: relative;
}
.about-container .bg-about {
  font-size: 140px;
  font-weight: 700;
  font-style: italic;
  line-height: 0.8;
  color: #555;
  top: 12vh;
  left: 25vw;
  position: absolute;
  z-index: 1;
}
.about-container .about-content {
  position: absolute;
  top: 16vh;
  left: 45vw;
  z-index: 2;
  width: 600px;
}
.about-container .about-content .about-text {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1240px) {
  .about-container .bg-about {
    left: 15vw;
  }
  .about-container .about-content {
    top: 14vh;
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .about-container .bg-about {
    left: 5vw;
  }
  .about-container .about-content {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .about-container .bg-about {
    font-size: 70px;
  }
  .about-container .about-content {
    width: 400px;
    left: 35vw;
  }
  .about-container .about-content .about-text {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .about-container .about-content {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .about-container .bg-about {
    font-size: 70px;
  }
  .about-container .about-content {
    width: 250px;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .about-container .bg-about {
    font-size: 60px;
  }
  .about-container .about-content {
    left: 30vw;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .about-container .bg-about {
    font-size: 50px;
  }
  .about-container .about-content {
    left: 22vw;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
.knowledge {
  width: 60vw;
  margin: 20vh auto;
  border-left: 2px solid #555;
  padding-left: 20px;
}
.knowledge .knowledge-title {
  text-align: center;
  margin-bottom: 40px;
}
.knowledge .knowledge-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.knowledge .knowledge-items .knowledge-column .column-name {
  text-align: center;
}
.knowledge .knowledge-items .knowledge-item {
  margin-bottom: 30px;
}
.knowledge .knowledge-items .knowledge-item img {
  width: 96px;
  height: 96px;
}
.knowledge .knowledge-items .knowledge-item .item-name {
  text-align: center;
}
.knowledge .knowledge-items .knowledge-item .knowledge-margin-b {
  margin-bottom: 96px;
}
.family {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.family .family-text {
  max-width: 50%;
}
.family .family-text h2,
.family .family-text p {
  margin-bottom: 40px;
}
.family .family-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.family .family-images .family-image {
  margin: 10px auto 0;
  width: 300px;
  border: 2px solid #555;
  padding: 0 10px 10px 0;
}
.family .family-images .family-image img {
  width: 100%;
  display: block;
  margin: -10px 0 0 -5px;
}
.social-medias {
  position: fixed;
  right: 4vw;
  bottom: 0;
}
.social-medias .social-medias-icons {
  display: flex;
  flex-direction: column;
}
.social-medias .social-medias-icons a img {
  width: 50px;
}
.social-medias .social-medias-line {
  height: 10vh;
  border-left: 2px solid #555;
  margin-left: 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.uppercase {
  text-transform: uppercase;
}
.scratch {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
.scale08 {
  transform: scale(0.8);
}
