.social-medias {
  position: fixed;
  right: 4vw;
  bottom: 0;
}
.social-medias .social-medias-icons {
  display: flex;
  flex-direction: column;
}
.social-medias .social-medias-icons a img {
  width: 50px;
}
.social-medias .social-medias-line {
  height: 10vh;
  border-left: 2px solid #555;
  margin-left: 24px;
}
