.social-medias {
  position: fixed;
  right: 4vw;
  bottom: 0;
  .social-medias-icons {
    display: flex;
    flex-direction: column;
    a img {
      width: 50px;
    }
  }
  .social-medias-line {
    height: 10vh;
    border-left: 2px solid #555;
    margin-left: 24px;
  }
}
