#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#portfolio .portfolio-content {
  width: 400px;
}
#portfolio .portfolio-content p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  text-wrap: balance;
}
@media (max-width: 450px) {
  #portfolio .portfolio-content {
    width: 300px;
  }
}
