.about-container {
  height: 400px;
  position: relative;
}
.about-container .bg-about {
  font-size: 140px;
  font-weight: 700;
  font-style: italic;
  line-height: 0.8;
  color: #555;
  top: 12vh;
  left: 25vw;
  position: absolute;
  z-index: 1;
}
.about-container .about-content {
  position: absolute;
  top: 16vh;
  left: 45vw;
  z-index: 2;
  width: 600px;
}
.about-container .about-content .about-text {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1240px) {
  .about-container .bg-about {
    left: 15vw;
  }
  .about-container .about-content {
    top: 14vh;
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .about-container .bg-about {
    left: 5vw;
  }
  .about-container .about-content {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .about-container .bg-about {
    font-size: 70px;
  }
  .about-container .about-content {
    width: 400px;
    left: 35vw;
  }
  .about-container .about-content .about-text {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .about-container .about-content {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .about-container .bg-about {
    font-size: 70px;
  }
  .about-container .about-content {
    width: 250px;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .about-container .bg-about {
    font-size: 60px;
  }
  .about-container .about-content {
    left: 30vw;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .about-container .bg-about {
    font-size: 50px;
  }
  .about-container .about-content {
    left: 22vw;
  }
  .about-container .about-content .about-text {
    font-size: 14px;
  }
}
